.jumbotron {
  background-attachment: fixed;
}

header.hero {
  height: 100vh;
}

.address-divider {
  margin: 0 auto;
}

#mapBro,
#mapBru,
#mapBer {
  height: 400px;
  width: 600px;
}

.section-title {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 2px solid;
}

#nav {
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
}

.nav-item {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  text-decoration: none;
}

.nav-item:hover {
  border-top: 4px solid;
  border-bottom: 4px solid;
  padding: 1px 0;
}

.custom-toggler .navbar-toggler {
  border-color: black;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("../icon/new-nav-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.card-panel {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/*
// Boostrap Gallery Isotope pagination        https://codepen.io/amrithraj151/pen/VEmXZX

 .isotope-pager {
	margin: 50px 0;
}

.isotope-pager .previous_btn, .isotope-pager .next_btn {
	display: inline-block;
	padding: 5px 10px;
	color: #242424;
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #242424;
	background: #fff;
	border-radius: 5px;
	vertical-align: baseline;
}

.isotope-pager .pager {
	display: inline-block;
	padding: 5px 10px;
	color: #242424;
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #242424;
	background: #fff;
}

.isotope-pager .pager.active {
	background: #0c1223;
	color: #fff;
}

*/
