// * {
//     border: 3px solid red;
//     padding: 0;
//     margin: 0;
// }

* {
    scrollbar-color: red;
}

.jumbotron {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


   }
   

.address-divider {
    margin: 0 auto;
 }

#mapBro, #mapBru, #mapBer {
    height: 400px;
    width: 600px;
    // filter: grayscale(100%) invert(100%);
  }
  
.section-title {
    margin: auto;
    width: max-content;
    border-bottom: 2px solid;
}

//  .list-group-item-info {
//      background-color: #212529;
//  }














/*
// Boostrap Gallery Isotope pagination        https://codepen.io/amrithraj151/pen/VEmXZX

 .isotope-pager {
	margin: 50px 0;
}

.isotope-pager .previous_btn, .isotope-pager .next_btn {
	display: inline-block;
	padding: 5px 10px;
	color: #242424;
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #242424;
	background: #fff;
	border-radius: 5px;
	vertical-align: baseline;
}

.isotope-pager .pager {
	display: inline-block;
	padding: 5px 10px;
	color: #242424;
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #242424;
	background: #fff;
}

.isotope-pager .pager.active {
	background: #0c1223;
	color: #fff;
}

*/